body{
	background-color: black;
}
#section-top{
	width:960px;
	height: 140px;
	background-color: #F4F4F4;
}
#nav-bar{
	width: 960px;
	height: 30px;
	background-color: #E8ECF0;
	border: grey;
}
#home, #market-segments, #services, #products, #promotions, #market-area, #market-info{
	font-family: arial;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
	padding-left: 15px;
	padding-right: 15px;
	border-right: 2px solid #666666;
	font-size: 85%;
}